@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-bkack-700: #504e70;
}

body {
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins' sans-serif;

}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before,
::after {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

section {
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    opacity: 1;
    position: fixed;
    left: 270px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s ease;
}

.section.back-section {
    z-index: 1;
}

.section.active {
    z-index: 2;
    opacity: 1;
    animation: slideSection 1s ease;
}


.hidden {
    display: none !important;
}

.padd-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

.section .container {
    padding-top: 60px;
    padding-bottom: 70px;
}

.section-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}

.section-title h2 {
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}

.section-title h2::before {
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}

.section-title h2::after {
    content: '';
    height: 4px;
    width: 25px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
    justify-content: center;
}

.cv-button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
  }
  
  /* button styling */
  .cv-button {
    --border-right: 6px;
    --animation-color: #1890ec;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
  /* this is the text, when you hover on button */
  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }
  /* hover */
  .cv-button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
  }

.btn {
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: var(--skin-color);
    transform: all 0.3s ease;
}

.btn:hover {
    transform: scale(1.05);
}

.shadow-dark {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

/* ==== Aside ====*/
.aside {
    width: 270px;
    background: var(--bg-black-100);
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    height: 100%;
    border-right: 1px solid var(--bg-black-50);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: all 0.3s ease;
}

.slogo {
    height: auto;
    width: 15vh;
}

.aside .logo {
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
}

.aside .logo a {
    color: var(--text-black-900);
    font-weight: 700px;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
    position: relative;
}

.aside .logo a span {
    font-family: 'clicker script', cursive;
    font-size: 40px;
}

.aside .logo a::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left: 0;
}

.aside .logo a::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top: -25px;
    right: 0;
}

.aside .nav-toggler {
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.aside .nav-toggler span {
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}

.aside .nav-toggler.open span {
    background-color: transparent;
}

.aside .nav-toggler span::before {
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0;
}

.aside .nav-toggler.open span::before {
    transform: rotate(45deg);
    top: 0;
}

.aside .nav-toggler.open span::after {
    transform: rotate(-45deg);
    top: 0;
}

.aside .nav-toggler span::after {
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0;
}

.aside .nav {
    margin-top: 50px;
}

.aside .nav li {
    margin-bottom: 20px;
    display: block;
}

.aside .nav li a {
    font-size: 16px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-black-900);
    padding: 5px 15px;
}

.aside .nav li a.active {
    color: var(--skin-color);
}

.aside .nav li a i {
    margin-right: 15px;
}

.aside .nav li a:hover {
    color: gray;
}


/* ==== Home ==== */
.home {
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}

.home .home-info {
    flex: 0 0 60%;
    max-width: 60%;
}

h3.hello {
    font-size: 28px;
    margin: 15px 0;
}

h3.hello span {
    font-family: 'Clicker Script', cursive;
    font-size: 30px;
    font-weight: 700;
    color: var(--skin-color);
}

h3.my-profession {
    font-size: 30px;
    margin: 15px 0;
}

.typing {
    color: var(--skin-color);
}

.home-info p {
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--text-bkack-700);
}

.home .home-img {
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
}
.home .home-imgs {
    text-align: center;
    position: relative;
    display: none;
}


.home .home-img img {
    margin: auto;
    border-radius: 5px;
    height: 400px;
}

/* ==== About ====*/
.about .about-content {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text h3 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);
}

.about .about-content .about-text h3 span {
    color: var(--skin-color);
}

.about .about-content .about-text p {
    font-size: 16px;
    line-height: 25px;
    color: var(--text-bkack-700);
}

.about .about-content .personal-info {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 40px;
}

.about .about-content .personal-info .info-item {
    flex: 0 0 50%;
    max-width: 50%;
}

.about .about-content .personal-info .info-item p {
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
}

.about .about-content .personal-info .info-item p span {
    font-weight: 400;
    color: var(--text-bkack-700);
    margin-left: 4px;
    display: inline-block;
}

.about .about-content .personal-info .info-item p span a {
    color: blue;
}

.about .about-content .personal-info .buttons {
    margin-top: 30px;
}

.about .about-content .personal-info .buttons .btn {
    margin-top: 10px;
}

.about .about-content .skills {
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 40px;
}

.about .about-content .skills .skill-item {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .skills .skill-item h5 {
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: var(--text-black-900);
    text-transform: capitalize;
}

.about .about-content .skills .skill-item .progress {
    background-color: var(--bg-black-50);
    height: 7px;
    border-radius: 4px;
    width: 100%;
    position: relative;
}

.about .about-content .skills .skill-item {
    margin-bottom: 25px;
}

.about .about-content .skills .skill-item .progress .progress-in {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background-color: var(--skin-color);
}

.about .about-content .skills .skill-item .skill-percent {
    position: absolute;
    right: 0;
    color: var(--text-black-900);
    top: -40px;
    font-weight: 400;
    line-height: 40px;
}

.about .about-content .education,
.about .about-content .experience {
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
}

.about .about-content h3.title {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: var(--text-black-900);
}

.about .about-content .timeline-box {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .timeline {
    background-color: var(--bg-black-100);
    padding: 30px 15px;
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    width: 100%;
    position: relative;
}

.about .about-content .timeline .timeline-item {
    position: relative;
    padding-left: 37px;
    padding-bottom: 50px;
}

.about .about-content .timeline .timeline-item:last-child {
    padding-bottom: 0;
}

.about .about-content .timeline .timeline-item:before {
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background-color: var(--skin-color);
}

.about .about-content .timeline .circle-dot {
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--skin-color);
}

.about .about-content .timeline .timeline-date {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
    color: var(--text-bkack-700);
}

.about .about-content .timeline .timeline-date .fa {
    margin-right: 5px;
}

.about .about-content .timeline .timeline-title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: var(--text-black-900);
}

.about .about-content .timeline .timeline-text {
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
    color: var(--text-bkack-700);
}

/* ==== Certificate ====*/
.Certificate .container {
    padding-bottom: 40px;
}

.Certificate .Certificate-item {
    margin-bottom: 30px;
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

.Certificate .Certificate-item .Certificate-item-inner {
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;
    transition: all 0.35 ease;
}

.Certificate .Certificate-item .Certificate-item-inner:hover {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.Certificate .Certificate-item .Certificate-item-inner .icon {
    height: 60px;
    width: 60px;
    border-radius: 50px;
    display: block;
    margin: 0 auto 30px;
    text-align: center;
    transition: all 0.3s ease;
}

.Certificate .Certificate-item .Certificate-item-inner .icon .fa {
    font-size: 40px;
    line-height: 60px;
    color: var(--skin-color);
    transition: all 0.3s ease;
}

.Certificate .Certificate-item .Certificate-item-inner:hover .icon {
    background: var(--skin-color);

}

.Certificate .Certificate-item .Certificate-item-inner:hover .icon .fa {
    font-size: 25px;
    color: white;
}

.Certificate .Certificate-item .Certificate-item-inner h4 {
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--text-black-900);
    font-weight: 700;
    text-transform: capitalize;
}

.Certificate .Certificate-item .Certificate-item-inner p {
    font-size: 16px;
    color: var(--text-bkack-700);
    line-height: 25px;
}

/* ==== project ====*/
.project .container {
    padding-bottom: 40px;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 15px;
}

.project .project-heading {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}

.project .project-heading h2 {
    color: var(--text-black-900);
    font-weight: 500;
}

.project .project-item {
    flex: 0 0 45%;
    max-width: 50%;
    margin-bottom: 30px;
    text-align: -webkit-center;
    width: 450px;
    height: 375px;
    
}

.project.project-item-inner {
    border: 6px solid var(--bg-black-100);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.project .project-item-inner .project-img img {
    width: 100%;
    display: block;
}

.project .project-item-inner:hover .project-img {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.project-img {

    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
    transition: transform 0.5s ease, opacity 0.5s ease;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullscreen img {
    max-width: 90%;
    max-height: 90%;
    transform: scale(1.1);
    opacity: 1;
}

/*==== contct ====*/

.contact-title {
    color: var(--skin-color);
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.contact-sub-title {
    color: var(--text-black-900);
    text-align: center;
    font-size: 15px;
    margin-bottom: 60px;
}

.contact .contact-info-item {
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    margin-bottom: 60px;
}

.contact .contact-info-item .icon {
    display: inline-block;
}

.contact .contact-info-item .icon .fa {
    font-size: 25px;
    color: var(--skin-color);
}

.contact .contact-info-item h4 {
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: capitalize;
    margin: 15px 0 5px;
}

.contact .contact-info-item p {
    font-size: 16px;
    color: var(--text-bkack-700);
    line-height: 25px;
    font-weight: 400;
}

.contact .contact-form {
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-form .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.contact .contact-form .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-form .form-item {
    margin-bottom: 30px;
}

.contact .contact-form .form-item .form-control {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    padding: 10px 25px;
    font-size: 16px;
    color: var(--text-bkack-700);
    transition: all 0.3s ease;
}

.contact .contact-form .form-item .form-control:focus {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.contact .contact-form .form-item textarea.form-control {
    height: 140px;
}

.contact .contact-form .btn {
    height: 50px;
    padding: 0 50px;
}
.crcard {
    position: relative;
    width: 100%; /* Adjust for responsiveness */
    max-width: 450px;
    height: 320px;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 1px 1px 1px 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .crcard svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .crcard:hover {
    transform: scale(1.05);
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    border: solid 3px #1890ec;
  }
  
  .card__content {
    position: absolute;
    top: 0;
    left: 0;  
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .crcard:hover .card__content {
    transform: rotateX(0deg);
  }
  
  .card__title {
    margin: 0;
    font-size: 24px;
    color: #1890ec;
    font-weight: 700;
  }
  
  .crcard:hover svg {
    scale: 0;
  }
  
  .card__description {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 0 0;
    font-size: 14px;
    color: #000000;
    line-height: 1.4;
    text-align: justify;
  }
  .card__description b{
    text-align: center;
  }
  
  /* Responsive Media Queries */
  
  /* Mobile */
  @media (max-width: 575.98px) {
    .crcard {
      height: 300px; /* Reduce height for smaller screens */
    }
  
    .card__title {
      font-size: 20px; /* Adjust title size */
    }
  
    .card__description {
      font-size: 12px; /* Adjust description size */
    }
  }
  
  /* Tablet */
  @media (min-width: 576px) and (max-width: 991.98px) {
    .crcard {
      height: 350px; /* Adjust for tablets */
    }
  
    .card__title {
      font-size: 22px;
    }
  
    .card__description {
      font-size: 13px;
    }
  }
  
  /* Desktop */
  @media (min-width: 992px) {
    .crcard {
      max-width: 450px; /* Default for desktop */
      height: 375px;
    }
  }
  
  /* Custom Media Queries */
  
  @media (max-width: 1199px) {
    .section .container {
      padding-top: 70px;
    }
  
    .aside {
      left: -270px;
    }
  
    .aside.open {
      left: 0;
    }
  
    .aside .nav-toggler {
      display: flex;
      left: 30px;
    }
  
    .aside .nav-toggler.open {
      left: 300px;
    }
  
    .section {
      left: 0;
    }
  
    .section.open {
      left: 270px;
    }
  
    .main-content {
      padding-left: 0;
    }
  
    .about .about-content .personal-info .info-item p span {
      display: block;
      margin-left: 0;
    }
  }
  
  @media (max-width: 991px) {
    .contact .contact-info-item,
    .project .project-item,
    .Certificate .Certificate-item {
      flex: 0 0 50%;
      max-width: 50%;
    }
  
    .home .home-info {
      flex: 0 0 100%;
      max-width: 100%;
    }
  
    .home .home-img {
      display: none;
    }
          .home .home-imgs {
        display: flex;
    }
  }
  
  @media (max-width: 767px) {
    .contact .contact-form .col-6,
    .contact .contact-info-item,
    .project .project-item,
    .Certificate .Certificate-item,
    .about .about-content .experience,
    .about .about-content .education,
    .about .about-content .skills,
    .about .about-content .personal-info {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  
  .cv-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    overflow: hidden;
    height: 3rem;
    background-size: 300% 300%;
    cursor: pointer;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    background-image: linear-gradient(#1890ec, #1890ec),
      linear-gradient(
        137.48deg,
        #1890ec 10%,
        #1890ec 45%,
        #fff 67%,
        #1890ec 87%
      );
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
  
  #container-stars {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
  }
  
  strong {
    z-index: 2;
    font-family: "Avalors Personal Use";
    font-size: 12px;
    letter-spacing: 5px;
    color: #ffffff;
    text-shadow: 0 0 4px white;
  }
  
  #glow {
    position: absolute;
    display: flex;
    width: 12rem;
  }
  
  .circle {
    width: 100%;
    height: 30px;
    filter: blur(2rem);
    animation: pulse_3011 4s infinite;
    z-index: -1;
  }
  
  .circle:nth-of-type(1) {
    background: rgba(254, 83, 186, 0.636);
  }
  
  .circle:nth-of-type(2) {
    background: rgba(142, 81, 234, 0.704);
  }
  
  .cv-btn:hover #container-stars {
    z-index: 1;
    background-color: #fff;
  }
  
  .cv-btn:hover {
    transform: scale(1.1);
  }
  
  .cv-btn:active {
    border: double 4px #fe53bb;
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: none;
    color:#1890ec;
  }
  
  .cv-btn:active .circle {
    background: #fe53bb;
  }
  
  #stars {
    position: relative;
    background: transparent;
    width: 200rem;
    height: 200rem;
  }
  
  #stars::after {
    content: "";
    position: absolute;
    top: -10rem;
    left: -100rem;
    width: 100%;
    height: 100%;
    animation: animStarRotate 90s linear infinite;
  }
  
  #stars::after {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
  }
  
  #stars::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 170%;
    height: 500%;
    animation: animStar 60s linear infinite;
  }
  
  #stars::before {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
    opacity: 0.5;
  }
  
  .cv-btn strong:hover{
  color:#1890ec;
  }
  .cv-btn strong:active{
  color:#1890ec;
  }
  
  @keyframes animStar {
    from {
      transform: translateY(0);
    }
  
    to {
      transform: translateY(-135rem);
    }
  }
  
  @keyframes animStarRotate {
    from {
      transform: rotate(360deg);
    }
  
    to {
      transform: rotate(0);
    }
  }
  
  @keyframes gradient_301 {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes pulse_3011 {
    0% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
  
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
  
    100% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }
  
